Repository NHSDigital/dtos-cohort-manager, pull requests merged in 2025-03, with the labels that each got.

#699 feat: change transform error handling
  application/CohortManager/src/Functions/CohortDistributionServices/CreateCohortDistribution/CreateCohortDistribution.cs
  application/CohortManager/src/Functions/CohortDistributionServices/TransformDataService/TransformDataService.cs
  application/CohortManager/src/Functions/CohortDistributionServices/TransformDataService/TransformString.cs
  tests/UnitTests/CohortDistributionTests/CreateCohortDistributionTests/CreateCohortDistributionTests.cs
Labels: bug

#696 fix: change outcode lookup logic to allow for postcodes with no spaces
  application/CohortManager/src/Functions/CohortDistributionServices/TransformDataService/TransformDataLookupFacade.cs
  application/CohortManager/src/Functions/Shared/Utilities/MappingUtilities.cs
  tests/UnitTests/TransformDataServiceTests/TransformDataServiceTests/TransformDataLookupFacadeTests.cs
  tests/UnitTests/TransformDataServiceTests/TransformDataServiceTests/TransformDataServiceTests.cs
  tests/UnitTests/TransformDataServiceTests/TransformReasonForRemovalTests/TransformReasonForRemovalTests.cs
Labels: bug, priority after freeze

#797 fix: outcode postcode spliting
  application/CohortManager/src/Functions/ScreeningValidationService/LookupValidation/DataLookupFacadeBreastScreening.cs
Labels: bug

#798 test: increase unit test coverage for markParticipantAsEligible
  application/CohortManager/src/Functions/screeningDataServices/markParticipantAsEligible/markParticipantAsEligible.cs
  tests/UnitTests/ScreeningDataServicesTests/MarkParticipantAsEligibleTests/MarkParticipantAsEligibleTests.cs
Labels: test coverage

#802 test: increase unit test coverage for BsSelectGpPracticeDataService
  tests/UnitTests/DataServiceTests/BsSelectGpPracticeDataServiceTests.cs
Labels: test coverage

#804 test: increase unit test coverage for BsSelectOutCodeDataService
  tests/UnitTests/DataServiceTests/BsSelectOutCodeDataServiceTests.cs
Labels: test coverage

#809 test: increase unit test coverage for CurrentPostingDataService
  tests/UnitTests/DataServiceTests/CurrentPostingDataServiceTests.cs
Labels: test coverage

#785 test: add unit tests for ReadRules
  application/CohortManager/src/Functions/Functions.sln
  tests/UnitTests/SharedTests/ReadRulesTests/ReadRulesTests.cs
  tests/UnitTests/SharedTests/ReadRulesTests/ReadRulesTests.csproj
Labels: test coverage

#801 test: add unit test coverage for ScreeningLkpDataService
  tests/UnitTests/DataServiceTests/DataServiceTests.csproj
  tests/UnitTests/DataServiceTests/ScreeningLkpDataServiceTests.cs
Labels: test coverage

#806 test: add unit test coverage for CohortDistributionDataService
  application/CohortManager/src/Functions/screeningDataServices/CohortDistributionDataService/CohortDistributionDataService.cs
  tests/UnitTests/DataServiceTests/CohortDistributionDataServiceTests.cs
  tests/UnitTests/DataServiceTests/DataServiceTests.csproj
Labels: test coverage

#814 test: Added unit tests to HttpParser.cs
  application/CohortManager/src/Functions/Functions.sln
  tests/UnitTests/SharedTests/HttpParserTests/HttpParserTests.cs
  tests/UnitTests/SharedTests/HttpParserTests/HttpParserTests.csproj
Labels: test coverage

#811 test: add unit test coverage for ExceptionManagementDataService
  tests/UnitTests/DataServiceTests/DataServiceTests.csproj
  tests/UnitTests/DataServiceTests/ExceptionManagementDataServiceTests.cs
Labels: test coverage

#815 test: add timeout test to durable demographic
  tests/UnitTests/DurableDemographicTests/DurableDemographicTests.cs
  tests/UnitTests/DurableDemographicTests/DurableDemographicTests.csproj
Labels: test coverage

#776 test: DTOSS-7687 - Unit tests - CheckDemographic.cs
  application/CohortManager/src/Functions/Functions.sln
  tests/UnitTests/SharedTests/CheckDemographicTests/CheckDemographicTests.cs
  tests/UnitTests/SharedTests/CheckDemographicTests/CheckDemographicTests.csproj
Labels: test coverage

#740 feat: DTOSS-7641 - Added full test suite for ExceptionHandler.cs, moved tests to mirrored shared folder
  application/CohortManager/src/Functions/Functions.sln
  tests/UnitTests/ExceptionHandlerTests/ExceptionHandlerTests.cs
  tests/UnitTests/SharedTests/ExceptionHandlerTests/ExceptionHandlerTests.cs
  tests/UnitTests/SharedTests/ExceptionHandlerTests/ExceptionHandlerTests.csproj
Labels: test coverage

#688 fix: add partial dates tests to test suite
  tests/UnitTests/ScreeningDataServicesTests/CreateParticipantTests/CreateParticipantTest.cs
  tests/UnitTests/ScreeningDataServicesTests/UpdateParticipantDetailsTests/UpdateParticipantDetailsTests.cs
  tests/UnitTests/TransformDataServiceTests/TransformDataServiceTests/TransformDataServiceTests.cs
Labels: test coverage

#763 test: add unit tests for FileNameParser
  application/CohortManager/src/Functions/Functions.sln
  application/CohortManager/src/Functions/Shared/Common/FileNameParser.cs
  tests/UnitTests/SharedTests/FileNameParserTests/FileNameParserTests.cs
  tests/UnitTests/SharedTests/FileNameParserTests/FileNameParserTests.csproj
Labels: test coverage

#817 test: add ExcludedSMULookupDataService unit test coverage
  application/CohortManager/src/Functions/screeningDataServices/ExcludedSMULookupDataService/ExcludedSMULookupDataServices.cs
  tests/UnitTests/DataServiceTests/DataServiceTests.csproj
  tests/UnitTests/DataServiceTests/ExcludedSMULookupDataServiceTests.cs
Labels: test coverage

#792 feat: DTOSS-7795 HealthCheck addParticipant and other services
  application/CohortManager/src/Functions/ParticipantManagementServices/CheckParticipantExists/CheckParticipantExists.csproj
  application/CohortManager/src/Functions/ParticipantManagementServices/CheckParticipantExists/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/CheckParticipantExists/Program.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/GetParticipantReferenceData/GetParticipantReferenceData.csproj
  application/CohortManager/src/Functions/ParticipantManagementServices/GetParticipantReferenceData/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/GetParticipantReferenceData/Program.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/RemoveParticipant/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/RemoveParticipant/Program.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/RemoveParticipant/RemoveParticipant.csproj
  application/CohortManager/src/Functions/ParticipantManagementServices/addParticipant/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/addParticipant/Program.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/addParticipant/addParticipant.csproj
  application/CohortManager/src/Functions/ParticipantManagementServices/updateParticipant/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/updateParticipant/Program.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/updateParticipant/updateParticipant.csproj
Labels: health check

#796 feat: DTOSS-7834 HealthCheck FileValidation and other services
  application/CohortManager/src/Functions/ScreeningValidationService/FileValidation/FileValidation.csproj
  application/CohortManager/src/Functions/ScreeningValidationService/FileValidation/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ScreeningValidationService/FileValidation/Program.cs
  application/CohortManager/src/Functions/ScreeningValidationService/LookupValidation/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ScreeningValidationService/LookupValidation/LookupValidation.csproj
  application/CohortManager/src/Functions/ScreeningValidationService/LookupValidation/Program.cs
  application/CohortManager/src/Functions/ScreeningValidationService/RemoveValidationException/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ScreeningValidationService/RemoveValidationException/Program.cs
  application/CohortManager/src/Functions/ScreeningValidationService/RemoveValidationException/RemoveValidationException.csproj
  application/CohortManager/src/Functions/ScreeningValidationService/StaticValidation/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ScreeningValidationService/StaticValidation/Program.cs
  application/CohortManager/src/Functions/ScreeningValidationService/StaticValidation/StaticValidation.csproj
Labels: health check

#813 feat: DTOSS-7872 HealthCheck for CreateException
  application/CohortManager/src/Functions/ExceptionHandling/CreateException/CreateException.csproj
  application/CohortManager/src/Functions/ExceptionHandling/CreateException/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ExceptionHandling/CreateException/Program.cs
Labels: health check

#823 test: increase markParticipantAsIneligible unit test coverage
  application/CohortManager/src/Functions/screeningDataServices/markParticipantAsIneligible/markParticipantAsIneligible.cs
  application/CohortManager/src/Functions/screeningDataServices/markParticipantAsIneligible/markParticipantAsIneligible.csproj
  tests/UnitTests/ScreeningDataServicesTests/MarkParticipantAsIneligibleTests/MarkParticipantAsIneligibleTests.cs
Labels: test coverage

#755 chore: Remove unused class GetParticipantData
  application/CohortManager/src/Functions/Shared/Common/GetPartcipipantData.cs
  application/CohortManager/src/Functions/Shared/Common/Interfaces/IGetParticipantData.cs
  application/CohortManager/src/Functions/screeningDataServices/markParticipantAsEligible/Program.cs
  application/CohortManager/src/Functions/screeningDataServices/markParticipantAsIneligible/Program.cs
Labels: Remove unused methods

#810 test: Added unit tests to MappingUtilities.cs
  application/CohortManager/src/Functions/Functions.sln
  tests/UnitTests/SharedTests/MappingUtilitiesTests/MappingUtilitiesTests.cs
  tests/UnitTests/SharedTests/MappingUtilitiesTests/MappingUtilitiesTests.csproj
Labels: test coverage

#829 test: AddCohortDistributionData unit test coverage
  application/CohortManager/src/Functions/CohortDistributionServices/AddCohortDistributionData/AddCohortDistributionData.cs
  application/CohortManager/src/Functions/Functions.sln
  tests/UnitTests/CohortDistributionTests/AddCohortDistributionDataTests/AddCohortDistributionDataTests.cs
  tests/UnitTests/CohortDistributionTests/AddCohortDistributionDataTests/AddCohortDistributionDataTests.csproj
Labels: test coverage

#782 feat: update exception flag in cohort dist
  application/CohortManager/compose.cohort-distribution.yaml
  application/CohortManager/src/Functions/CohortDistributionServices/CreateCohortDistribution/CreateCohortDistribution.cs
  application/CohortManager/src/Functions/CohortDistributionServices/CreateCohortDistribution/Program.cs
  application/CohortManager/src/Functions/CohortDistributionServices/ValidateCohortDistributionRecord/ValidateCohortDistributionRecord.cs
  application/CohortManager/src/Functions/Shared/Common/CohortDistributionHelper.cs
  application/CohortManager/src/Functions/Shared/Common/Interfaces/ICohortDistributionHelper.cs
  tests/UnitTests/CohortDistributionTests/CreateCohortDistributionTests/CreateCohortDistributionTests.cs
  tests/UnitTests/CohortDistributionTests/ValidateCohortDistributionRecordTests/ValidateCohortDistributionRecordTests.cs
Labels: bug, priority after freeze

#662 feat: adding the new ReceiveServiceNowMessage function
  application/CohortManager/compose.core.yaml
  application/CohortManager/src/Functions/Functions.sln
  application/CohortManager/src/Functions/ServiceNowIntegrationService/Dockerfile
  application/CohortManager/src/Functions/ServiceNowIntegrationService/Program.cs
  application/CohortManager/src/Functions/ServiceNowIntegrationService/ReceiveServiceNowMessage.cs
  application/CohortManager/src/Functions/ServiceNowIntegrationService/ReceiveServiceNowMessage.csproj
  application/CohortManager/src/Functions/Shared/Common/delme
  infrastructure/tf-core/environments/development.tfvars
  scripts/deployment/get-docker-names.sh
  tests/UnitTests/CohortDistributionTests/CreateCohortDistributionTests/CreateCohortDistributionTests.cs
Labels: DO NOT MERGE

#786 chore: remove redundant FileReader shared class
  application/CohortManager/src/Functions/Shared/Common/FileReader.cs
Labels: Remove unused methods

#764 fix: creating more test coverage for process caas file
  tests/UnitTests/CaasIntegrationTests/processCaasFileTest/processCaasFileTests.cs
Labels: test coverage

#852 feat: DTOSS-8096 GetParticipantReferenceData test coverage
  application/CohortManager/src/Functions/Functions.sln
  tests/UnitTests/ParticipantManagementServicesTests/GetParticipantReferenceDataTests/GetParticipantReferenceDataTests.cs
  tests/UnitTests/ParticipantManagementServicesTests/GetParticipantReferenceDataTests/GetParticipantReferenceDataTests.csproj
Labels: test coverage
