Repository NHSDigital/dtos-cohort-manager, pull requests merged in 2025-05, with the labels that each got.

#884 feat: DTOSS-8133 pds patient details integration in RetrievePDSDemographic function
  application/CohortManager/src/Functions/DemographicServices/RetrievePDSDemographic/Program.cs
  application/CohortManager/src/Functions/DemographicServices/RetrievePDSDemographic/RetrievePDSDemographic.cs
  application/CohortManager/src/Functions/DemographicServices/RetrievePDSDemographic/RetrievePDSDemographic.csproj
  application/CohortManager/src/Functions/DemographicServices/RetrievePDSDemographic/RetrievePDSDemographicConfig.cs
  application/CohortManager/src/Functions/Functions.sln
  application/CohortManager/src/Functions/Shared/Common/Common.csproj
  application/CohortManager/src/Functions/Shared/Common/FhirExtensionUrls.cs
  application/CohortManager/src/Functions/Shared/Common/FhirPatientDemographicMapper.cs
  application/CohortManager/src/Functions/Shared/Common/Interfaces/IFhirPatientDemographicMapper.cs
  application/CohortManager/src/Functions/Shared/Model/Constants/AddressKeyType.cs
  application/CohortManager/src/Functions/Shared/Model/Demographic.cs
  application/CohortManager/src/Functions/Shared/Model/PdsDemographic.cs
  tests/TestUtils/DatabaseTestBase.cs
  tests/UnitTests/DemographicServicesTests/RetrievePDSDemographicTests/RetrievePDSDemographicTests.cs
  tests/UnitTests/ScreeningDataServicesTests/ValidationExceptionDataTests/GetValidationExceptionTests/GetValidationExceptionsTests.cs
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/FhirPatientDemographicMapperTests.cs
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/FhirPatientDemographicMapperTests.csproj
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/complete-patient.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-informal-death.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-interpreter-no-language.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-language-no-interpreter.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-male.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-minimal-data.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-minimal.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-multiple-given-names.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-non-deceased.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-other.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-sensitive.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-unknown.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-with-display-only.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-with-incomplete-removal-info.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-with-mobile-number.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-with-no-end-date.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-with-previous-name.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-with-removal-code-only.json
  tests/UnitTests/SharedTests/FhirPatientDemographicMapperTests/PatientMocks/patient-with-removal-info.json
  tests/UnitTests/SharedTests/HttpParserTests/HttpParserTests.cs
Labels: PDS INT

#913 fix: reinstate category numbers for validation exceptions
  application/CohortManager/src/Functions/CaasIntegration/receiveCaasFile/ProcessFileClasses/ProcessCaasFile.cs
  application/CohortManager/src/Functions/ScreeningValidationService/LookupValidation/Breast_Screening_cohortRules.json
  application/CohortManager/src/Functions/ScreeningValidationService/LookupValidation/Breast_Screening_lookupRules.json
  application/CohortManager/src/Functions/ScreeningValidationService/StaticValidation/Breast_Screening_staticRules.json
  application/CohortManager/src/Functions/Shared/Common/ExceptionHandler.cs
  application/CohortManager/src/Functions/Shared/Common/Interfaces/IExceptionHandler.cs
  application/CohortManager/src/Functions/Shared/Common/ReceiveCaasFileHelper.cs
  application/CohortManager/src/Functions/Shared/Model/Enums/ExceptionCategory.cs
  tests/UnitTests/CaasIntegrationTests/AddBatchToQueueTest/AddBatchToQueueTest.cs
  tests/UnitTests/CaasIntegrationTests/AddBatchToQueueTest/AddBatchToQueueTest.csproj
  tests/UnitTests/CaasIntegrationTests/processCaasFileTest/processCaasFileTests.cs
  tests/UnitTests/CohortDistributionTests/CreateCohortDistributionTests/CreateCohortDistributionTests.cs
  tests/UnitTests/ParticipantManagementServicesTests/AddParticipantTest/AddParticipantTest.cs
  tests/UnitTests/ScreeningDataServicesTests/MarkParticipantAsEligibleTests/MarkParticipantAsEligibleTests.cs
  tests/UnitTests/ScreeningDataServicesTests/MarkParticipantAsIneligibleTests/MarkParticipantAsIneligibleTests.cs
  tests/UnitTests/ScreeningValidationServiceTests/LookupValidation/LookupValidationTests.cs
  tests/UnitTests/ScreeningValidationServiceTests/StaticValidation/StaticValidationTests.cs
  tests/UnitTests/SharedTests/ExceptionHandlerTests/ExceptionHandlerTests.cs
Labels: bug

#927 feat: 8380-NEMS-Unsubscribe-function
  application/CohortManager/compose.core.yaml
  application/CohortManager/src/Functions/DemographicServices/NEMSUnSubscription/Dockerfile
  application/CohortManager/src/Functions/DemographicServices/NEMSUnSubscription/HealthCheckFunction.cs
  application/CohortManager/src/Functions/DemographicServices/NEMSUnSubscription/NEMSUnSubscription.cs
  application/CohortManager/src/Functions/DemographicServices/NEMSUnSubscription/NEMSUnSubscription.csproj
  application/CohortManager/src/Functions/DemographicServices/NEMSUnSubscription/NEMSUnSubscriptionConfig.cs
  application/CohortManager/src/Functions/DemographicServices/NEMSUnSubscription/NemsSubscriptionService.cs
  application/CohortManager/src/Functions/DemographicServices/NEMSUnSubscription/Program.cs
  application/CohortManager/src/Functions/DemographicServices/NEMSUnSubscription/UnsubscriptionRequest.cs
  application/CohortManager/src/Functions/DemographicServices/NEMSUnSubscription/host.json
  application/CohortManager/src/Functions/Functions.sln
  infrastructure/tf-core/environments/development.tfvars
  infrastructure/tf-core/environments/devtest.tfvars
  tests/UnitTests/DemographicServicesTests/NEMSUnSubscriptionTests/NEMSUnSubscriptionTests.cs
  tests/UnitTests/DemographicServicesTests/NEMSUnSubscriptionTests/NEMSUnSubscriptionTests.csproj
Labels: NEMS

#967 feat: DTOSS-8379 new functionapp for creating nems subscription
  application/CohortManager/compose.core.yaml
  application/CohortManager/src/Functions/DemographicServices/NEMSSubscribe/Dockerfile
  application/CohortManager/src/Functions/DemographicServices/NEMSSubscribe/HealthCheckFunction.cs
  application/CohortManager/src/Functions/DemographicServices/NEMSSubscribe/NEMSSubscribe.cs
  application/CohortManager/src/Functions/DemographicServices/NEMSSubscribe/NEMSSubscribe.csproj
  application/CohortManager/src/Functions/DemographicServices/NEMSSubscribe/NEMSSubscribeConfig.cs
  application/CohortManager/src/Functions/DemographicServices/NEMSSubscribe/Program.cs
  application/CohortManager/src/Functions/Functions.sln
  application/CohortManager/src/Functions/Shared/Common/HttpClientFunction.cs
  application/CohortManager/src/Functions/Shared/Common/Interfaces/IHttpClientFunction.cs
  infrastructure/tf-core/environments/development.tfvars
  infrastructure/tf-core/environments/devtest.tfvars
  tests/UnitTests/DemographicServicesTests/NEMSSubscribeTests/NEMSSubscribeTests.cs
  tests/UnitTests/DemographicServicesTests/NEMSSubscribeTests/NEMSSubscribeTests.csproj
Labels: NEMS

#936 feat: DTOSS-8378 Add NEMS MESH retrieval function
  application/CohortManager/compose.core.yaml
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/CertificateHelper.cs
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/Dockerfile
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/HealthCheckFunction.cs
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/NemsMeshRetrieval.cs
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/NemsMeshRetrieval.csproj
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/NemsMeshRetrieval.sln
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/NemsMeshRetrievalConfig.cs
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/Program.cs
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/Properties/launchSettings.json
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/README.md
  application/CohortManager/src/Functions/NemsSubscriptionService/NemsMeshRetrieval/host.json
  infrastructure/tf-core/environments/development.tfvars
  tests/UnitTests/NemsSubscriptionServiceTests/NemsMeshRetrievalTests/NemsMeshRetrievalTestHelper.cs
  tests/UnitTests/NemsSubscriptionServiceTests/NemsMeshRetrievalTests/NemsMeshRetrievalTests.cs
  tests/UnitTests/NemsSubscriptionServiceTests/NemsMeshRetrievalTests/NemsMeshRetrievalTests.csproj
Labels: NEMS

#620 feat: changes to validation rule 36
  application/CohortManager/src/Functions/ScreeningValidationService/LookupValidation/Breast_Screening_lookupRules.json
  tests/UnitTests/ScreeningValidationServiceTests/LookupValidation/LookupValidationTests.cs
Labels: bug, DO NOT MERGE

#720 fix: create participant error handling
  application/CohortManager/src/Functions/screeningDataServices/createParticipant/createParticipant.cs
Labels: bug

#887 Feat: Add block function
  application/CohortManager/compose.core.yaml
  application/CohortManager/src/Functions/Functions.sln
  application/CohortManager/src/Functions/ParticipantManagementServices/BlockParticipant/BlockParticipant.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/BlockParticipant/BlockParticipant.csproj
  application/CohortManager/src/Functions/ParticipantManagementServices/BlockParticipant/BlockParticipantConfig.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/BlockParticipant/Dockerfile
  application/CohortManager/src/Functions/ParticipantManagementServices/BlockParticipant/HealthCheckFunction.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/BlockParticipant/Program.cs
  application/CohortManager/src/Functions/ParticipantManagementServices/BlockParticipant/Properties/launchSettings.json
  application/CohortManager/src/Functions/ParticipantManagementServices/BlockParticipant/host.json
  infrastructure/tf-core/environments/development.tfvars
  infrastructure/tf-core/environments/integration.tfvars
  infrastructure/tf-core/environments/nft.tfvars
  infrastructure/tf-core/environments/preprod.tfvars
  tests/UnitTests/ParticipantManagementServicesTests/BlockParticipantTests/BlockParticipantTests.cs
  tests/UnitTests/ParticipantManagementServicesTests/BlockParticipantTests/BlockParticipantTests.csproj
Labels: BLOCK
